<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head.ejs', typeof data !== 'undefined' ? data : {})
    %>
    <link rel="stylesheet" href="/css/hub.css" type="text/css" />
    <script defer >
      function kEdSidebarOpen() {
        document.getElementById("main").style.marginLeft = "25%";
        document.getElementById("mySidebar").style.width = "25%";
        document.getElementById("mySidebar").style.display = "block";
        document.getElementById("openNav").style.display = "none";
      }

      function kEdSidebarClose() {
        document.getElementById("main").style.marginLeft = "0%";
        document.getElementById("mySidebar").style.display = "none";
        document.getElementById("openNav").style.display = "inline-block";
      }
    </script>
  </head>
  <body>
    <%- include('../partials/navbar.ejs') %> <%-
    include('../partials/sidebar.ejs') %>
		<% if (messages.length > 0) { %>
			<div class="bar error" role="alert">
				<%-  messages %>
			</div>
		<% } %>
    <div class="main" id="main">
      <div class="teal">
        <button class="btn-hub teal" onclick="kEdSidebarOpen()" id="openNav">
          ☰
        </button>
        <div class="container">
          <h1><%= typeof data !== 'undefined' ? data.title : 'Kimm Hub' %></h1>
        </div>
      </div>
      <%- body %>
    </div>
    <%- include('../partials/footer.ejs') %>
  </body>
</html>
