<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('../partials/head.ejs', typeof data !== 'undefined' ? data : {data: false}) %>
	</head>
	<body class="bg-secondary">
		<%- include('../partials/navbar.ejs') %>
		<% if (messages.error ) { %>
			<div class="bar error" role="alert">
				<%-  messages.error %>
			</div>
		<% } %>
		<% if (typeof error !== 'undefined') { %>
			<div class="bar error" role="alert">
				<%-  error %>
			</div>
		<% } %>
		<div class="container"><%- body %></div>
		<%- include('../partials/footer.ejs') %>
	</body>
</html>
