<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('../partials/head.ejs', typeof data !== 'undefined' ? data : {data: false}) %>
	</head>
	<body class="bg-secondary" style="margin-top:80px;">
		<%- include('../partials/navbar.ejs') %>
		<%- include('../partials/messages.ejs') %>
		<div class="container"><%- body %></div>
		<%- include('../partials/footer.ejs') %>
	</body>
</html>
