<% if (!classroom) { %>
<h1>Class not found</h1>
<% } else { %>
<nav class="light-theme">
  <div class="nav-wrapper">
    <div class="container">
      <button id="postsButton" onclick="displaySection('posts')" class="active">Posts</button>
      <button id="membersButton" onclick="displaySection('members')">Members</button>
      <button id="resourcesButton" onclick="displaySection('resources')">Resources</button>
      <button id="settingsButton" onclick="displaySection('settings')">Settings</button>
    </div>
  </div>
</nav>
<section class="margin-400" id="createPost" hidden>
  <div class="container center">
    <form action="/hub/class/id/<%- id %>/post" method="post" class="form" autocomplete="off">
      <div class="form-group">
        <label for="title">Title</label>
        <input
          class="form-control rounded-input center-text"
          type="text"
          name="title"
          id="title"
          placeholder="Post Title"
          required
          autofocus
        />
      </div>
      <div class="form-group">
        <label for="description">Description</label>
        <input
          class="form-control rounded-input center-text"
          type="text"
          name="description"
          id="description"
          placeholder="Description"
          required
        />
      </div>
      <div class="form-group">
        <textarea name="cardText" id="cardText" cols="30" rows="10"></textarea>
      </div>
      <div class="form-group">
        <button type="submit">Register</button>
        <button class="btn" onclick="cancelPost()">Cancel</button>
      </div>
    </form>
  </div>
</section>

<section id="posts">
  <div class="header">
    <h2><%- classroom.className%></h2>
  </div>

  <div class="row">
    <div class="leftcolumn">
      <!-- Special card to create a post/card -->
      <button class="card light-theme" style="text-align:center;" onclick="displaySection('createPost')">
        <h2>Post something to your class!</h2>
      </button>
      <% if (!cards) { %>
      <div class="card">
        <h2>No posts yet</h2>
      </div>
      <% } else { %>
      <% cards.filter(a => a.cardType == 'post').forEach(function(card) { %>
        <article>
          <div class="card">
            <h2><%- card.content.title %></h2>
            <h5><%- card.content.description %> </h5>
            <p><%- card.content.cardText %></p>
            <div class="card-bottom">
              <span>
                Author here
              </span>
              <span>
                <%- card.timeStamp %>
            </div>
          </div>
        </article>
      <% }) %>
    <% } %> 
    </div>
    <div class="rightcolumn">
      <div class="card">
        <h2>About the Class</h2>
        <div class="fakeimg" style="height: 100px">Image</div>
        <!-- Show class description -->
        <p><%- classroom.classDescription %></p>
      </div>
      <div class="card">
        <h3>Popular Post</h3>
        <div class="fakeimg">Image</div>
        <br />
        <div class="fakeimg">Image</div>
        <br />
        <div class="fakeimg">Image</div>
      </div>
      <div class="card">
        <h3>Follow Me</h3>
        <p>Some text..</p>
      </div>
      <div class="card feedback-card">
        <h3>Feedback</h3>
        <div class="container">
          <button></button>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="members" hidden>
  <div class="container light-theme">
    <h1><%- classroom.className %></h1>
    <div class="row">
      <div class="col-md-6">
        <h2>Class Details</h2>
        <table class="table-responsive">
          <tr>
            <th>Class Name</th>
            <td><%- classroom.className %></td>
          </tr>
          <tr>
            <th>Class Number</th>
            <td><%= classroom._id %></td>
          </tr>
          <tr>
            <th>Class Description</th>
            <td><%= classroom.classDescription %></td>
          </tr>
          <tr>
            <th>Class Instructor</th>
            <td><%= classroom.classTeacher %></td>
          </tr>
          <tr>
            <th>Class Time</th>
            <td><%= classroom.classTime %></td>
          </tr>
          <tr>
            <th>Class Days</th>
            <td><%= classroom.classDays %></td>
          </tr>
          <tr>
            <th>Class Capacity</th>
            <td><%= classroom.classCapacity %></td>
          </tr>
          <tr>
            <th>Class Enrolled</th>
            <td><%= classroom.classEnrolled %></td>
          </tr>
        </table>
      </div>
      <div class="col-md-6">
        <h2>Class Enrollment</h2>
        <table class="table table-striped">
          <tr>
            <th>Student Name</th>
            <th>Student Email</th>
            <th>Student Phone</th>
          </tr>
        </table>
      </div>
    </div>
  </div>
</section>

<section id="settings" hidden>
  <h1>Settings</h1>
</section>

<section id="resources" hidden>
  <h1>Resources</h1>
</section>

<% } %>

<a href="/hub/class/id/<%- classroom._id %>/post" class="float">
  <svg
    xmlns="http://www.w3.org/2000/svg"
    width="60"
    height="60"
    fill="currentColor"
    class="bi bi-plus"
    viewBox="0 0 16 16"
  >
    <path
      d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"
    />
  </svg>
</a>
