<ul class="cards">
  <% if (classes) { %> <% classes.forEach(element => { %>
  <li>
    <a href="/hub/class/id/<%= element._id %>" class="card">
      <img
        src="<%- element.classImage %>"
        class="card__image"
        alt="<%- element.className %> Image"
      />
      <div class="card__overlay">
        <div class="card__header">
          <svg class="card__arc" xmlns="http://www.w3.org/2000/svg">
            <path />
          </svg>
          <img
            class="card__thumb"
            src="<%- element.owner.avatar %>"
            alt="<%- element.owner.username %> Avatar"
          />
          <div class="card__header-text">
            <h3 class="card__title"><%- element.className %></h3>
            <span class="card__status"
              ><%- element.lastUpdated || 'Data not available' %></span
            >
          </div>
        </div>
        <p class="card__description"><%- element.classDescription %></p>
      </div>
    </a>
  </li>
  <% }) %> <% } else { %>
  <li>
    <p>No classes found</p>
  </li>
  <% } %>
</ul>

<a href="/hub/class/add" class="float">
  <svg
    xmlns="http://www.w3.org/2000/svg"
    width="60"
    height="60"
    fill="currentColor"
    class="bi bi-plus"
    viewBox="0 0 16 16"
  >
    <path
      d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"
    />
  </svg>
</a>
